<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="css/sb-admin.css" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Wirtualny Dziennik</a>

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">

            </button>


            <!-- Navbar -->
            <ul class="navbar-nav ml-auto ml-md-0">
                <div sec:authentication="principal.authorities" style="color: white">
                </div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Ustawienia</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Wyloguj się</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>




</body>
</html>
