<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">


</head>

<body id="page-top">

<div th:replace="fragments/header :: header"></div>
<div id="wrapper">
    <div th:replace="fragments/wrapper :: wrapper"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Pracownicy</li>
            </ol>
            <div th:replace="fragments/row :: row"></div>
    
            <!--<form th:action="@{/addGroup}" th:object="${group}" method="post">-->
                <!--<p class="error-message"-->
                   <!--th:if="${#fields.hasGlobalErrors()}"-->
                   <!--th:each="error : ${#fields.errors('global')}"-->
                   <!--th:text="${error}">Validation error</p>-->
    <!---->
                <!--<div class="form-group"-->
                     <!--th:classappend="${#fields.hasErrors('nameGroup')}? 'has-error':''">-->
                    <!--<label for="nameGroup" class="control-label">Nazwa grupy</label>-->
                    <!--<input id="nameGroup"-->
                           <!--class="form-control"-->
                           <!--th:field="*{nameGroup}"/>-->
                    <!--<p class="error-message"-->
                       <!--th:each="error: ${#fields.errors('nameGroup')}"-->
                       <!--th:text="${error}">Validation error</p>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-success">Dodaj</button>-->
                <!--</div>-->
            <!--</form>-->
    
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Wykaz uczniów Semestr zimowy 2018/2019
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                            <thead>
                            <tr>
                                <th>Nazwa grupy</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <tr th:each="group :${groups}">
                                <td th:text="${user.name}"></td>
                                <!--<div sec:authorize="hasAuthority('ROLE_ADMIN')">-->
                                    <!--<td>-->
                                        <!--<a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger">Usuń</a>-->
                                    <!--</td>-->
                                <!--</div>-->
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
        
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>
</html>
