<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">


</head>

<body id="page-top">

<div th:replace="fragments/header :: header"></div>
<div id="wrapper">
    <div th:replace="fragments/wrapper :: wrapper"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Zarządzanie grupami</li>
            </ol>
            <div th:replace="fragments/row :: row"></div>
    
    
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Wykaz grup Semestr zimowy 2018/2019
                </div>
                <div class="row" style="margin-top: 12px">
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-lg btn-block btn-huge nBtn">Dodaj grupę</button>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-lg btn-block btn-huge pBtn" th:href="@{/showGroupList}">Przypisz studenta</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-lg btn-block btn-huge pBtn" a href="/">Przypisz przedmiot</a>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nazwa grupy</th>
                                <th>Akcja</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <tr th:each="group :${groups}">
                                <td th:text="${group.id}" style="font-size: 22px"></td>
                                <td th:text="${group.name}" style="font-size: 22px"></td>
                                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                        <td>
                                            <!--<button class="btn btn-primary btn-block deleteBtn">Usuń grupę</button>-->
                                            <a  th:href="@{/deletegroup/{id} (id=${group.id})}" class="btn btn-danger delBtn">Usuń</a>
                                            <!--<button class="btn btn-danger uBtn" id="btn-delete">Usuń</button>-->
                                            <a th:href="@{/findOne/(id=${group.id})}" class="btn btn-success eBtn" style="margin-left: 20px">Edytuj</a>
                                        </td>
                                    </div>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
                        <div class="myForm">
                            <form th:action="@{/savegroup}" th:object="${group}" method="post">
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nowa grupa</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="name" class="col-form-label">ID:</label>
                                                    <input type="text" class="form-control" id="id" name="id">
                                                    <label for="name" class="col-form-label">Nazwa grupy:</label>
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                            <button type="submit" class="btn btn-primary" value="save" >Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
            
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.nBtn, .eBtn').on('click', function (event) {
            event.preventDefault();
            
            var href = $(this).attr('href');
            $.get(href, function (group) {
                $('.myForm #id').val(group.id);
                $('.myForm #name').val(group.name);
            });
            
            $('.myForm #exampleModal').modal();
        });
        
    });
    
</script>

</body>
</html>
